.content {
    max-width: 1012px;
    margin: auto;
    padding: 14px 10px;
    text-align: center;
    > p {
        margin: 5px auto;
    }
    > .social-links {
        font-size: 35px;

        > .link {
            display: inline-block;
            color: transparentize(#000000, 0.25);
            margin: auto 10px;
            &:focus,
            &:hover,
            &:active {
                text-decoration: none;
                color: #000;
            }
        }
    }
}
