<nav class="navbar">

    <div class="navbar-wrapper">
        <div class="content">
            <a [routerLink]="['./']" class="brand">
                <img src="/assets/images/octocat.png" alt="Octocat - GitHub">
            </a>
            <div class="right-side">
                <div *ngIf="githubService.getSignedStatus(); then signedIn; else notSignedIn"></div>
            </div>
        </div>
    </div>



    <ng-template #signedIn>
        <button type="button" class="btn-action" (click)="doSignOut()">
            <span class="fa fa-sign-out"></span>
            Sair
        </button>
    </ng-template>

    <ng-template #notSignedIn>
        <button type="button" class="btn-action" (click)="doSignIn()">
            <span class="fa fa-sign-in"></span>
            Entrar
        </button>
    </ng-template>

</nav>
