<nav class="navbar">

    <div class="navbar-wrapper">
        <div class="content">
            <a [routerLink]="['./']" class="brand">
                <img src="/assets/images/octocat.png" alt="Octocat - GitHub">
            </a>
            <div class="right-side">
                <button type="button" class="btn-action" (click)="doSignOut()" *ngIf="githubService.getSignedStatus();">
                    <span class="fa fa-sign-out"></span>
                    Sair
                </button>
            </div>
        </div>
    </div>
</nav>
