<form #form="ngForm" class="repository-list">

    <h1>{{pageTitle}}</h1>

    <input class="search" type="text" name="search" placeholder="Nome, descrição ou linguagem..." [(ngModel)]="searchTerm" (input)="searchTermStream.next(searchTerm)" *ngIf="repositories.length">

    <div class="repository" *ngFor="let repository of repositoriesToShow">
        <a [href]="repository.html_url" target="_blank" class="name">{{repository.name}}</a>
        <div class="description">{{repository.description}}</div>
        <div class="stats">
            <div class="item -forks">
                <span class="fa fa-code-fork"></span> {{repository.forks_count}}
            </div>

            <div class="item">
                <span class="fa fa-star"></span> {{repository.stargazers_count}}
            </div>

            <div class="item" *ngIf="repository.language">
                <span class="fa fa-circle"></span> {{repository.language}}
            </div>

            <div class="item -text" *ngIf="repository.license">{{repository.license.name}}</div>

            <div class="item -text">Criado em {{getDate(repository.created_at)}}</div>
        </div>
    </div>
    <div *ngIf="repositories.length && !repositoriesToShow.length">
        <h3>Nenhum repositório encontrado!</h3>
    </div>
</form>
