.repository-list {
    position: relative;
    max-width: 1012px;
    margin: auto;
    padding: 14px 10px;
    text-align: center;

    > .repository {
        display: inline-block;
        width: 100%;
        margin: 10px auto;
        padding: 15px;
        background-color: #ffffff;
        border: 1px solid #d1d5da;
        border-radius: 3px;
        text-align: left;
        > .name {
            display: inline-block;
            margin-bottom: 10px;
            color: #0366d6;
            font-size: 20px;
            font-weight: 600;
        }

        > .description {
            display: inline-block;
            width: 100%;
            margin-bottom: 10px;
            min-height: 42px;
            line-height: 21px;
            font-size: 14px;
            overflow: hidden;
        }

        > .stats {
            color: #586069;
            display: inline-block;
            width: 100%;

            > .forks,
            > .stargazers,
            > .updated-at {
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
            }
            > .forks .fa {
                font-size: 20px;
            }

            > .stargazers .fa {
                font-size: 18px;
            }

            > .created_at {
                font-size: 12px;
            }
        }
    }
}
