<div class="sign-container">
    <div class="sign-panel">
        <h1 class="title">Lista de repositórios do GitHub</h1>
        <button type="button" class="btn-action" (click)="requestCode()">
            <span class="fa fa-sign-in"></span>
            Logar com Github
        </button>
        <span class="obs">Para visualizar seus repositórios é necessário que esteja cadastrado no Github, caso não seja,
            <a href="https://github.com/join?source=login" target="_blank">cadastre-se!</a>
        </span>
    </div>
</div>
