.sign-container {
    position: relative;
    text-align: center;
    margin: auto;
    padding: 14px 10px;
    max-width: 1012px;
    height: 480px;

    @media only screen and (min-width: 1012px) {
        background-size: cover;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('/assets/images/simple-codelines.svg');
    }

    > .sign-panel {
        position: relative;
        display: inline-block;
        width: 100%;
        max-width: 480px;
        min-height: 366px;
        margin: 40px auto;
        padding: 15px;
        border-radius: 3px;
        background-color: #ffffff;
        box-shadow: 0 2px 2px 0 transparentize(#000, 0.86), 0 3px 1px -2px transparentize(#000, 0.88), 0 0px 5px 0 transparentize(#000, 0.8);
        > .title {
            font-size: 25px;
        }
        > .sign-in-form {
            margin: 50px auto;
            text-align: center;
            > .field,
            > .btn-action {
                position: relative;
                display: inline-block;
                width: 270px;
                height: 43px;
                margin: 20px auto;
                border-radius: 3px;
                border: 1px solid #000000;
                background-color: #ffffff;
            }
            > .field {
                text-align: left;
                padding: 5px 10px;
            }
            > .btn-action {
                font-size: 26px;
                cursor: pointer;
                transition: all 100ms linear;
                &:hover {
                    background-color: darken(#ffffff, 10%);
                }
            }
        }
    }
}
